apiVersion: v1alpha1
kind: Setting
metadata:
  name: plugin-katex-settings
spec:
  forms:
    - group: basic
      label: 基本设置
      formSchema:
        - $formkit: switch
          name: enable_frontend_katex
          id: enable_frontend_katex
          key: enable_frontend_katex
          label: 启用 KaTex 客户端渲染
          help: 使用非默认编辑器时，需要启用此项以确保公式正确渲染
          value: false
        - $formkit: text
          if: $get(enable_frontend_katex).value === true
          name: inline_selector
          label: 行内公式 CSS 选择器
          value: ".math-inline"
          help: 用于匹配行内公式的 CSS 选择器
        - $formkit: text
          if: $get(enable_frontend_katex).value === true
          name: display_selector
          label: 块级公式 CSS 选择器
          value: ".math-display"
          help: 用于匹配块级公式的 CSS 选择器
